/******************************************************************
   Porter theme for WorkFlowy by TAKEUCHI, Hitoshi (@htakeuchi)

   This theme was written based on the "Work a Simpler Flowy v2.0"
   by 72dpi.

   https://userstyles.org/styles/123191/work-a-simpler-flowy-v2-0
 ******************************************************************/

#controlsLeft {
    background-color: #4cb9ff;/*#fff;*/
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.09);
    font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    letter-spacing: 1.6px;
}

#controlsLeft a {
  color: #fff;
    margin-bottom: 6px;
}

#controlsLeft hr, #itemSelectionControls hr {
    border-color: #ccc;
    margin-top: 5px;
}

#documentView {
    font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

#pageContainer .project.open.selected > .children > .project > .name {
    margin-top: 0.4em;
}

.bullet, #bulletBucket .bulletBucketBullet {
    background-color: rgba(76,185,255,0.15);
    background-image: none;
}

.bullet::before, #bulletBucket .bulletBucketBullet::before {
    background-color: #4cb9ff;
    border-radius: 10px;
    content: '';
    display: block;
    height: 6px;
    left: 6px;
    position: relative;
    top: 6px;
    width: 6px;
}

.bullet:hover, .project.task>.name>.bullet:hover, .project.open>.name>.bullet:hover, .project.addedShared>.name>.bullet:hover, .page.showCompleted .project.halfOpenSearchMatchAncestorWhenCompletedVisible:not(.shared):not(.addedShared)>.name>.bullet:hover, .page:not(.showCompleted) .project.halfOpenSearchMatchAncestorWhenCompletedHidden:not(.shared):not(.addedShared)>.name>.bullet:hover {
    background-color: hsl(212, 100%, 87%);
}

.content .contentLink, .nameAnimated .contentLink {
    color: #4cb9ff;
}

.content .contentMatch {
    color: #333;
}

.content .contentTag, .nameAnimated .contentTag {
    font-size: 15px;
    left: 5px;
    margin-right: 3px;
    position: relative;
}

.content .contentTagText, .nameAnimated .contentTagText {
    -webkit-font-smoothing: antialiased;
    background: #4CB9FF;
    border-radius: 2px;
    color: white;
    display: inline-block;
    line-height: 17px;
    margin-left: -11px;
    padding: 0 4px 1px 4px;
    position: relative;
    text-decoration: none;
}

.mainTreeRoot.project.open.parent .selected>.children>.project>.name>#controls #expandButton {
    top: 4px;
}

.project.addedShared>.name>.bullet {
    background-color: rgba(76,185,255,0.15);
    box-shadow: 0 0 5px #4CB9FF;
}

.project.addedShared>.name>.bullet::after {
    content: "\f0ed";
    color: #97FFAB;
}

.project.open, .project.open > .children > .project {
    margin-top: 7px;
}

.project.open.selected > .children > .project > .name .content {
    line-height: 27px;
}

.project.open.selected > .children > .project > .name a.bullet {
    margin-top: 8px;
}

.project.shared>.name>.bullet {
    background-color: #4cb9ff;
}

.project.shared>.name>.bullet::after {
    content: "\f0ec";
    color: #F487FF;
}

.project.shared>.name>.bullet::after, .project.addedShared>.name>.bullet::after {
    font-family: FontAwesome;
    font-size: 18px;
    left: -55px;
    position: relative;
    top: -5px;
}

.project.shared.open>.name>.bullet::before {
    background-color: #4cb9ff;
}

.project.shared.open>.name>.bullet {
    background-color: transparent;
    border: 1px solid #4cb9ff;
}

.project.open>.name>.bullet {
    background-color: transparent;
}

.project.shared>.name>.bullet::before {
    background-color: #fff;
}

.project.task.done>.name>.bullet::before {
    background-color: #aaa;
}

.selected .project #controlsLeft>.mouse-helper::before {
    background-color: #ccc;
    border: 0;
    display: block;
    height: 17px;
    left: 60px;
    top: 7px;
    width: 1px;
}

.selected > .name > #controls > #controlsLeft {
    left: -2px;
    top: 12px;
}

.selected>.children>.project .project>.name>#controls #controlsLeft {
    top: 29px;
}

.selected>.children>.project>.name>#controls #expandButton {
    top: 7px;
}

::-moz-selection {
    background-color: #F40;
    color: #eee;
}

::selection {
    background-color: #F40;
    color: #eee;
}

div.project.open.selected > div.children > div > div.name {
    font-size: 1.2em;
}

div.project.open.selected > div.children > div.open > div.notes {
    margin-bottom: 1em;
}

.contentUnderline{
  background: linear-gradient(transparent 40%, rgb(255, 170, 170) 40%);
  text-decoration:none;
}

.contentBold {
  background: linear-gradient(transparent 40%, #ffff66 40%);
  font-weight: normal;
}

.contentItalic{
  background: linear-gradient(transparent 40%, #66FFCC 40%);
  font-style: normal;
}

#savedViewHUD {
  top: 30px;
  bottom: auto;
}
